/*
*
* CSS Reset
*
*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
*
* General Rules
*
*/

/* Color Combination 
bluewish: #007bff;
pinkish: #fc3b9d;
yellowish-b: #edf12078;
yellowish-f: #fbfe2a;

*/

body {
	font-family: 'Montserrat', sans-serif;
	/*font-size: 20px;*/
}

.container-fluid {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-family: 'Baloo', cursive;
} 



/*****************************************/
			/*Start - Landing Page*/
/*****************************************/

#showcase {
	background-image: url(../../landing-page/img/landing-image2.jpg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

.title {
	width: 55%;
	position: absolute;
	top: 76%;
	left: 68%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/*#showcase {
	background-image: url(../../landing-page/img/home8.jpg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

.title {
	width: 70%;
	position: absolute;
	top: 76%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}*/


h1 {
	font-size: 90px;
	letter-spacing: 3px;
	box-shadow: 0 0 16px 0px black;
	background-color: rgba(0, 123, 255, 0.32);
	color: #fbfe2a;
	padding: 15px 0;
	word-spacing: 1rem;
}

.showcase-p {
	font-size: 27px;
	font-weight: 600;
	color: #000;
	margin-bottom: 0;
	padding: 5px 0;
}

.showcase-btn {
	padding: 5px 28px;
	font-size: 20px;
	border: 1px solid #fff;
}

.jumbotron-landing {
	margin: 0;
	background-image: url(../../landing-page/img/landing-bg1.jpg);
	background-size: cover;
	background-position: center;
	padding: 40px 0;
	background-attachment: fixed;
	opacity: .70;
}

.jumbotron-landing > div > .lead {
	margin: 0;
	font-size: 30px;
	color: black;
	font-weight: 700;
}



#landingText {
	background-image: url(../../home/img/png1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 50px 0;
	color: black;
}

.grad,
.awards,
.years  {
	line-height: 20px;
	/*padding: 0 5px;*/
}

.icons {
	width: 25%;
	border: 5px solid #0000ff;
	border-radius: 50%;
}

.icon-title {
	padding: 15px 0;
	margin-bottom: 0;
	font-size: 20px;
}

.icon-text {
	font-size: 15px;
	padding: 0 10px;
}

.video-caption {
	background-image: url(../../landing-page/img/landing-bg1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	opacity: .70;
}

.video-caption {
	/*background-image: url(../../landing-page/img/landing-bg1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	opacity: .70;*/
	background-color: blue;
}

.video-caption > h2 {
	margin-bottom: 0;
	font-size: 30px;
	padding: 40px 0;
	color: #000;
	font-weight: 600;
}

.video-showcase {
	background-image: url(../../landing-page/img/video-bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	/*background-color: grey;*/
}

.video-showcase > div > div > video {
	padding: 30px;
}

/*****************************************/
			/*End - Landing Page*/
/*****************************************/





/***************************************/
			/*Start - Home Page*/
/***************************************/


/***Navigation Bar***/

/*.navbar {
	background-color: #edf12078;
}*/

.navbar-fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
	background-color: transparent;
}

.nav-link {
	width: 125px;
	font-size: 13px;
	margin-bottom: 2px;
	border: 1px solid gold;
	border-radius: 5%;
	padding: 7px;
	color: white;
}

.nav-link:hover {
	background-color: gold;
	border: 0;
	font-weight: 800;
	border-bottom: 2px solid #007bff;
	transition: .2s;
	color: black;
}

.navbar-brand {
	width: 15%;
	/*margin-left: 20px;*/
}

/*.navbar-toggler {
	border: 1px solid #007bff!important;
	padding: 3px;
	margin-right: 10px;

}
*/

/*** End of Navigation Bar ***/


/*** Carousel ***/

/*.carousel-control-prev,
.carousel-control-next {
	position: absolute;
	top: 25%;
	bottom: 75%;
}*/

.home-jumbotron {
	margin: 0;
	background-color: #edf12078;
	padding: 40px 0;
	opacity: .70;
}

.home-jumbotron > div > .lead {
	margin: 0;
	font-size: 25px;
	color: black;
	font-weight: 700;
}


/*Start - Albums */
#albums {
	background-image: url(../../landing-page/img/landing-image1.jpg);
	min-height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.photos-videos {
	padding-top: 20px;
}

.list-events,
.photo-album1, 
.photo-album2,
.articles,
.video2,
.video3 {
	padding: 0;
	margin-left: 20px;
	margin-bottom: 20px;
}

.photo-header,
.video-header {
	text-align: center;
	font-size: 25px;
	color: #fc3b9d;
}

.events-header,
.article-header {
	font-size: 25px;
	background-color: #fc3b9d;
	margin: 0;
	padding: 5px 0;
	border-top-right-radius: .25rem;
	border-top-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
}

.articles {
	background-color: #fff;
	border-top-right-radius: .25rem;
	border-top-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
}

.list-group-item {
	padding: 10px 15px;
	font-size: 13px;
}

.list-group-item:hover {
	background-color: #fc3b9d;

}

.first-row,
.second-row {
	margin: 0 20px;
}

.photo-album1 > .card,
.photo-album2 > .card {
	padding: 10px 10px;
	/*background-color: #fc3b9d;*/
	/*background-color: #fc3b9d;*/
}

.video1 > .card,
.video2 > .card,
.video3 > .card {
	padding: 10px;
	/*	*/
	/*background-color: #fc3b9d;*/
}

.photo-album1 > .card > .card-body,
.photo-album2 > .card > .card-body,
.video1 > .card > .card-body,
.video2 > .card > .card-body,
.video3 > .card > .card-body {
	padding: 10px;
}

.thumbnail {
	width: 50%;	
	float: left;
}

.img-thumbnail {
	/*border: 1px solid #fff;*/
	padding: 0;
}

.photo,
.video {
	transition: all 1s ease;
}

.photo:hover,
.video:hover {
	transform:scale(1.20);
}

.article-info {
	margin: 15px 10px;
	background-color: #a9c7f554;
	border-top-right-radius: .25rem;
	border-top-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

/*.article-info > img {
	margin-top: 20px;
}*/


/*.modal-dialog {
	width: 100%;
	margin: 0 10px;
}



/*.embed-responsive {
	margin-bottom: 20px;
	padding: 20px;
	width: 100%;
	height: 25%;
	overflow: hidden;
}*/

/* Article */

.article-photo {
	float: left;
	width: 50%;
	margin-right: 10px;
}

.article-text > p {
	margin-bottom: 0;
}

.readmore {
	float: right;
	margin-bottom: 10px;
}


/* Social Media */

.fab {
    padding: 13px;
    font-size: 17px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.social-media {
	border-bottom: 2px solid lightgrey; 
}

.social-media-icon {
	padding: 20px 0;
}

.social-media-icon > a {
	margin: 0 25px;
}

.social-media-icon > a:hover {
    opacity: 0.7;
}

.fa-facebook-f {
    background-color: #3b5999;
    color: white;
}

.fa-google-plus-g {
	background-color: #dd4b39;
    color: white;
}

.fa-twitter {
    background-color: #0084ff;
    color: white;
}

.fa-instagram {
	background-color: #e4405f;
    color: white;
}

.fa-pinterest-p {
	background-color: #bd081c;
    color: white;
}



/* Contact - Map */

.map-contact {
	/*margin-top: 50px;*/
	/*background-image: url(../../home/img/home8.jpg);
	min-height: 100%;
	background-size: cover;
	opacity: 0.70;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	background-color: #edf12078; 
}


.contact {
	margin: auto;
	width: 50%;
	text-align: center;
	color: #000;
	font-size: 17px;
	
}


/* Footer */

.footer {
	padding: 10px 0;
	background-color: #007bff;
	color: white;
}

.footer > p {
	margin: 0;
	font-size: 20px;
}


/***************************************/
			/*End - Home Page*/
/***************************************/



/***************************************/
			/*Start - About Page*/
/***************************************/

#about {
	background-image: url(../../home/img/home8.jpg);
	background-size: cover;
	background-position: center;
	min-height: 80vh;
	/*background-attachment: fixed;*/
}

#about > div {
	width: 100%;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#about > div > h2 {
	font-size: 60px;
	letter-spacing: 1px;
	box-shadow: 0 0 16px 0px black;
	background-color: rgba(255, 255, 255, 0.36);
	color: #fc3b9d;
	/*background-color: rgba(0, 123, 255, 0.32);
	color: #fbfe2a;*/
	padding: 10px 0;
	font-weight: 700;
}

#about-contents {
	background-image: url(../../home/img/png1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.mission-history {
	padding-top: 50px;
}

.staff-header
.testemonials-header {
	background-color: #fc3b9dbd; 
}

.mission-history > div ,
.staff > div,
.testemonials > div {
	padding: 0 20px;
}

.mission-history > div > p,
.testemonials > div > p {
	background-color: #fc3b9dbd;
	border-top-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	border-bottom-left-radius: 1.25rem;
	padding: 20px;
}

.mission-history > div > p {
	padding: 20px;
}

.staff > div > div > img {
	width: 50%;
	min-height: 50%;
	border: 4px solid white;
}

.testemonials > div > img {
		width: 40%;
}


/***************************************/
			/*End - About Page*/
/***************************************/


/***************************************/
			/*Start - Inquiry Page*/
/***************************************/

.inquiry {
	margin-top: 10px;
	width: 50vw; 
	border: 15px solid #007bff;
	border-radius: 2%;
	background-color: #007bff;
	padding: 0;
}

.inquiry-header {
	margin-bottom: 13px;
	background-color: white;
	padding: 10px 0;
}

.inquiry-details {
	background-color: white;
	padding: 10px;
}

textarea {
	display: block;
	width: 100%;
	border: 1px solid lightgrey;
}

/***************************************/
			/*End - Inquiry Page*/
/***************************************/



/* Mobile Device */



/* Tablet Device */



/* Desktop Device */


