/*
*
* CSS Reset
*
*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
*
* General Rules
*
*/

body {
	font-family: 'Montserrat', sans-serif;
}


/*.logo {
	border-radius: 50%;
	max-width: 200px;
}*/

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 25px;
}



.navbar {
	background-color: #f3d224ad;
	padding: 0 25px;

}





.nav-link {
	width: 120px;
	font-size: 20px;
}

.carousel-caption {
	width: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 2;
}

.carousel-caption > p {
	/*color: blue;*/
	font-size: 30px;
}

.carousel-btn {
	padding: 15px 25px;
	font-size: 20px;
}

.card {
	padding: 10px;
	margin-top: 10px;
}

/*.post-events {
	border-top: 2px solid grey;
}*/

/*.events {
	margin-bottom: 1px;
	
}*/

.sharedPost {
	float: left;
	width: 50%;
	padding-right: 15px;
}

.readMore {
	float: right;
}

.clear {
	content: "";
	clear: both;
	display: block;
}











